@model QuotesViewModel
@using Newtonsoft.Json

<div class="row">

    <div class="col-md-12">
        <h3>Generated Documents</h3>
        </br>
        <table class="table table-bordered" style="width:50%;">
            <thead>
                <tr>
                    <th style="width:50%">Document Name</th>
                    <th style="width:50%">Generated On</th>
                    <th style="width:50%">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (DocumentViewModel item in Model.Documents)
                {

                <tr>
                    <td><a href="@item.Url" target="_blank">@item.Title</a> </td>
                    <td>@item.CreatedOn.ToString("dddd, dd MMMM yyyy hh:mm tt")</td>
                    <td><a class="deleteQuote" title="Delete" data-toggle="tooltip" value="@item.Name"><i class="material-icons" style="color:red">&#xE872;</i></a></td>
                </tr>
                }

            </tbody>
        </table>
    </div>

</div>

</br></br></br>
<div>
    <h3>Send Email</h3>
    </br>
    <div class="form-group">
        <label class="col-md-6 control-label">Name</label>
        <div class="col-md-6">
            <input class="form-control" asp-for="Name" readonly="readonly" disabled="disabled" name="name" id="name" type="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder='Enter Full Name'>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 control-label" style="margin-top:10px;">Email</label>
        <div class="col-md-6" style="margin-top:10px;">
            <input class="form-control" readonly="readonly" disabled="disabled" asp-for="CustomerEmail" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
        </div>
    </div>
    @*<div class="form-group">
            <label class="col-sm-3 control-label" style="margin-top:10px;">Address</label>
            <div class="col-sm-9" style="margin-top:10px;">
                <input class="form-control" name="Address" asp-for="Address" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Address'" placeholder='Enter Address'>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>*@
    <div class="form-group">
        <label class="col-md-6 control-label" style="margin-top:10px;">CC Email</label>
        <div class="col-md-6" style="margin-top:10px;">
            <input class="form-control" asp-for="EmailCC" name="emailCC" id="emailCC" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
            <span asp-validation-for="EmailCC" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="offset-sm-3 col-sm-5" style="margin-left: 65px;margin-top:50px;">

        <button class="btn btn-primary status-info SendEnquiryEmailSubmit" type="submit" name="SendEnquiryEmail" asp-action="SendEnquiryEmail" style="margin-top:10px;margin-left:20px;">Send</button>
        <button class="btn btn-primary status-info  GenerateDocSubmit" name="GenerateDoc" style="margin-top:10px;margin-left:20px;">
            @*<a href="https://dhdocgen.blob.core.windows.net/quotes/EH10001-Quote-24012020.pdf" onClientclick="setTimeout('location.href = 'https://dhdocgen.blob.core.windows.net/quotes/EH10001-Quote-24012020.pdf';',15000);" target="_blank">
                Generate Quote
                </a>*@
            Generate @Model.RequestType
        </button>
        <div class="status-info" id="loadingDiv" style="display:none;"><image src="/Images/loading.gif" alt="Loading, please wait" /></div>
    </div>
    @*<div class="offset-sm-3 col-sm-2">
            <button class="status-warning" style="margin-top:10px;">Cancel</button>
        </div>*@
</div>
<div id="confirmationModal" style="margin-top:15px;" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Confirmation</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <center><h4 class="modal-content-lb"> </h4></center>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>