

@using GreenPOS.Models
@*@model IEnumerable<UserViewModel>*@
@model RoleViewModel
@{
    ViewData["Title"] = "Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

@*
    <!-- Signup modal content -->
    <div id="userrole-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body p-4">
                    <form class="px-3" action="#">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="role" class="control-label">Role Name</label>
                                    <input type="text" required oninvalid="this.setCustomValidity('Role Name is required')" oninput="this.setCustomValidity('')" name="Role" class="form-control" id="role" placeholder="role">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Permissions" class="control-label">Role</label>
                                    <select class="form-control" oninvalid="this.setCustomValidity('Role is required')" oninput="this.setCustomValidity('')" multiple="multiple">
                                        <option>Super Admin</option>
                                        <option>Company Admin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button class=" btn btn-warning col-md-4" data-dismiss="modal" type="button">Close</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary col-md-4" type="submit">Save Role</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
*@
<!-- Update modal content -->
<div id="updaterole-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Update Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                @using (Html.BeginForm("SaveRoleAsync", "Role", FormMethod.Post, new { @class = "px-3" }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="role" class="control-label">Role Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "RoleName", id = "Name" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Permissions" class="control-label">Role</label>
                                <select name="PermissionRoleIds" id="PermissionRoleIds" multiple="multiple" class="form-control">
                                    <option>Super Admin</option>
                                    <option>Company Admin</option>
                                </select>
                                @Html.HiddenFor(a => a.PermissionIds)
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-success col-md-4" type="submit">Save</button>
                        &nbsp;&nbsp;
                        <button class=" btn btn-warning col-md-4" data-dismiss="modal" type="button">Close</button>
                    </div>
                }
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Danger Alert Modal -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Are you sure?</h4>
                    <p class="mt-3 text-white">Do you really want to delete this record? This process can not be undone.</p>
                    <button id="delete" type="button" class="btn btn-light my-2" data-dismiss="modal" onclick="modalContinue(this)">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- sample modal content -->
<!-- Begin page -->
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Administrstion</a></li>
                                @*<li class="breadcrumb-item active">Manage Roles</li>*@
                            </ol>
                        </div>
                        <h4 class="page-title">Manage Roles</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row mt-2">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#updaterole-modal" onclick="initModalFileds()"><i class="mdi mdi-plus-circle mr-1"></i> Add Roles</button>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-right">
                                        <button type="button" class="btn btn-success mb-2 mr-2"><i class="mdi mdi-cog"></i></button>
                                        <button type="button" class="btn btn-light mb-2 mr-2">Import</button>
                                        <button type="button" class="btn btn-light mb-2">Export</button>
                                    </div>
                                </div><!-- end col-->
                            </div>


                            @*<div class="row" style="display:flex;justify-content:center;align-items:center">
            <div class="col-md-6"><h4 class="header-title mb-0">Manage Roles</h4></div>
            <div class="col-md-4"></div>
            <button type="button" class="btn btn-primary col-md-2" data-toggle="modal" data-target="#updaterole-modal" onclick="initModalFileds()">Create Role</button>
        </div>*@

                            @*<div class="row">
                                <div class="col-12">
                                    <div class="card">*@
                                        <div class="table-responsive">
                                            <table id="scroll-horizontal-datatable" class="table table-centered table-nowrap table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th col="2">Action</th>
                                                        <th col="4">Name</th>
                                                        <th col="6">Permission</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (RoleViewModel role in ViewBag.roles)
                                                    {

                                                        //var perfom = role.PermissionNames;

                                                    <tr>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                                <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        @*<td>
            <div class="row" data-roleid="@role.Id">
                <a href="#" data-toggle="modal" data-target="#updaterole-modal" style="font-size:1.2rem" onclick="UpDateRoles('@role.Id')"><i class="fe-edit-2"></i></a>
                &nbsp;&nbsp;
                <a href="#" class="text-danger" data-toggle="modal" data-target="#delete-modal" style="font-size:1.2rem" onclick="deleteObj('@role.Id')"> <i class="fe-delete"></i></a>
            </div>
        </td>*@
                                                        <td>@role.Name</td>
                                                        <td style="white-space:inherit">@role.PermissionNames</td>
                                                        <td>
                                                            <div class="" data-roleid="@role.Id">
                                                                <a href="#" class="action-icon text-success" data-toggle="modal" data-target="#updaterole-modal" onclick="UpDateRoles('@role.Id')"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                                &nbsp;&nbsp;
                                                                <a href="#" class="action-icon text-danger" data-toggle="modal" data-target="#delete-modal" onclick="deleteObj('@role.Id')"> <i class="mdi mdi-delete"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>}
                                                </tbody>
                                            </table>

                                        </div> <!-- end card body-->
                                    @*</div> <!-- end card -->
                                </div><!-- end col-->
                            </div>*@


                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2015 -
                    @* <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="">Coderthemes</a>*@
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
<!-- END wrapper -->


<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="../assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/libs/pdfmake/build/vfs_fonts.js"></script>

<script src="~/js/Role/Role.js"></script>

<script>
    $("#scroll-horizontal-datatable").DataTable();

    function deleteObj(t) {
        $("#delete").attr("value", t);
    }

    function modalContinue(t) {
        DeleteRole(t.getAttribute("value"));
        //alert(t.getAttribute("value"));
    }

    function initModalFileds() {
        $("#modalTitle").text("Create Role");
    }
</script>

