
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css" />


<!-- sample modal content -->
<div id="note-modal" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Note</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hideNoteModal()">×</button>*@
                <a asp-action="CreateContact"><button class="appearance-filled size-medium status-success shape-rectangle transitions">Create</button></a>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="role" class="control-label">Add Title</label>
                            <input type="text" required oninvalid="this.setCustomValidity('Title is required')" oninput="this.setCustomValidity('')" name="Title" class="form-control" id="title" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description" class="control-label">Add Notes</label>
                            <input type="text" required oninvalid="this.setCustomValidity('Description is required')" oninput="this.setCustomValidity('')" name="Description" class="form-control" id="description" placeholder="Description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" onclick="hideNoteModal()">Cancel</button>
                <button type="button" class="btn btn-info waves-effect waves-light">Save</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!-- Signup modal content -->
<!-- Update modal content -->
<div id="update-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hideNoteModal('update-modal')">×</button>
            </div>
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <a href="#" class="text-success">
                        <h4>Update Contact</h4>
                    </a>
                </div>

                <form class="px-3" action="#">
                    <div class="form-group">
                        <label for="firstname">FirstName</label>
                        <input name="FirstName" class="form-control" type="text" oninvalid="this.setCustomValidity('First Name is required')" oninput="this.setCustomValidity('')" id="firstname" required placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <label for="lastname">LastName</label>
                        <input name="LastName" class="form-control" type="text" id="lastname" required oninvalid="this.setCustomValidity('Last Name is required')" oninput="this.setCustomValidity('')" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="Email" class="form-control" type="email" id="email" required oninvalid="this.setCustomValidity('Email is required')" oninput="this.setCustomValidity('')" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input name="Phone" class="form-control" type="number" id="phone" required oninvalid="this.setCustomValidity('Phone is required')" oninput="this.setCustomValidity('')" placeholder="Phone">
                    </div>

                    <div class="row">
                        <h4>Address Information</h4>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="street1">Street 1</label>
                            <input name="Street1" class="form-control" type="text" id="street1" required oninvalid="this.setCustomValidity('Street 1 is required')" oninput="this.setCustomValidity('')" placeholder="Street 1">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="street2">Street 2</label>
                            <input name="Street2" class="form-control" type="text" id="street2" placeholder="Street 2">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="suburb">Suburb</label>
                            <input name="SubURB" class="form-control" type="text" id="suburb" required oninvalid="this.setCustomValidity('Suburb is required')" oninput="this.setCustomValidity('')" placeholder="sub urb">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="postcode">Post Code</label>
                            <input name="PostCode" class="form-control" type="text" id="postcode" required oninvalid="this.setCustomValidity('Post Code is required')" oninput="this.setCustomValidity('')" placeholder="Post Code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state">State</label>
                        <input name="State" class="form-control" type="text" id="state" required oninvalid="this.setCustomValidity('State is required')" oninput="this.setCustomValidity('')" placeholder="State">
                    </div>

                    <div class="row" style="justify-content:center;align-content:center;display:flex">
                        <div class="col-md-4"><h4 class="header-title mb-0">Manage Notes</h4></div>
                        <div class="col-md-4"></div>
                        <button type="button" class="btn btn-primary col-md-4" onclick="showNoteModal('update-modal')" style="bottom:4px !important" data-toggle="modal" data-target="#note-modal">Create Note</button>
                        <table class="table table-hover table-centered mb-0" id="notes">
                            <tr>
                                <th col="6">Description</th>
                                <th col="3">Title</th>
                                <th col="3">Action</th>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-success col-md-4" type="submit">Save</button>
                        &nbsp;&nbsp;
                        <button class=" btn btn-warning col-md-4" data-dismiss="modal" type="button">Close</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Danger Alert Modal -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Are you sure?</h4>
                    <p class="mt-3 text-white">Do you really want to delete this record? This process can not be undone.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>function showNoteModal(modalId) {
        document.getElementById(modalId).style.visibility = "hidden";
        //document.getElementById("note-modal").style.zIndex = "2000";
        document.getElementById("note-modal").style.visibility = "unset";
    }

    function hideNoteModal() {
        document.getElementById("note-modal").style.visibility = "hidden";

        if (document.getElementById('update-modal').classList.contains("show")) {
            document.getElementById('update-modal').style.visibility = "unset";
        }
        else if (document.getElementById('signup-modal').classList.contains("show")) {
            document.getElementById('signup-modal').style.visibility = "unset";
        }

        // document.getElementById("note-modal").style.zIndex = "0";
    }</script>

<!-- Begin page -->
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Administration</a></li>
                                @*<li class="breadcrumb-item active">Manage Contacts</li>*@
                            </ol>
                        </div>
                        <h4 class="page-title">Manage Design</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="row mt-2">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <a asp-action="CreateDesign"><button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#custom-modal"><i class="mdi mdi-plus-circle mr-1"></i> Add Designs</button></a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-right">
                                        <button type="button" class="btn btn-success mb-2 mr-2"><i class="mdi mdi-cog"></i></button>
                                        <button type="button" class="btn btn-light mb-2 mr-2">Import</button>
                                        <button type="button" class="btn btn-light mb-2">Export</button>
                                    </div>
                                </div><!-- end col-->
                            </div>


                            @*<div class="row">
                                <div class="col-12">
                                    <div class="card">*@
                            <div class="table-responsive">
                                <table id="scroll-horizontal-datatable" class="table table-centered table-nowrap table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th col="2">First Name</th>
                                            <th col="2">Last Name</th>
                                            <th col="2">Email</th>
                                            <th col="2">Phone</th>
                                            <th col="2">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @*@foreach (var contact in ViewBag.contacts)
                                    {*@
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            @*<td>@contact.FirstName</td>
                                            <td>@contact.LastName</td>
                                            <td>@contact.Email</td>
                                            <td>@contact.Phone</td>*@
                                            @*<td>
                                                    <div class="row" data-contactid="@contact.id">
                                                        <a href="#" class="col-md-3" data-toggle="modal" data-target="#update-modal"><i class="fe-edit-2"></i></a>
                                                        &nbsp;&nbsp;
                                                        <a href="#" class="col-md-4 text-danger" data-toggle="modal" data-target="#delete-modal"> <i class="mdi mdi-delete"></i></a>
                                                    </div>
                                                </td>*@
                                            <td>
                                                <div class="" data-contactid="@*@contact.Id*@">
                                                    <a href="#" class="action-icon text-success" data-toggle="modal" data-target="#update-modal"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                    &nbsp;&nbsp;
                                                    <a href="#" class="action-icon text-danger" data-toggle="modal" data-target="#delete-modal"> <i class="mdi mdi-delete"></i></a>
                                                </div>
                                            </td>
                                        </tr>
@*}*@

                                    </tbody>
                                </table>




                            </div> <!-- end card body-->
                            @*</div> <!-- end card -->
                                    </div><!-- end col-->
                                </div>*@

                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2015 -
                    @* <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="">Coderthemes</a>*@
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
<!-- END wrapper -->


<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="../assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/libs/pdfmake/build/vfs_fonts.js"></script>

<script>$("#scroll-horizontal-datatable").DataTable();</script>